@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
body{font-family: 'Noto Serif TC', serif;}
.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
header h1 {
	color: #625342;
	text-align: center;
	font-size: 40px;
}
nav {
	text-align: center;
}
nav a:link  {
	color: #B19779;
	text-decoration: none;
}
nav a:hover {
	color: #785E38;
	text-decoration: underline;
}
.less.is.more {
	height: 370px;
	background-image: url(less%20is%20more.jpg);
	background-position: center -126px;
	background-size: cover;
	border-radius: 33px;
}
article h2 {
	background-color: #EDDCC4;
	border-radius: 5px;
	height: 35px;
	line-height: 32px;
}
